* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    min-height: 100vh;
    /* height: 300vh; */

    overflow-x: hidden;
}

.top-par {
    padding: 20px;
    width: 100%;
    height: 70px;

    background: #84a1be;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 100;
    top: 0;

    transition: 0.5s;
}
.top-par.scrolled {
    box-shadow: 0px 10px 20px #0005;
}

.top-par .desc {
    font-size: var(--text-size-2);
    font-weight: var(--text-width-4);
    color: var(--dark-1);
}

.top-par .links {
    padding: 10px;
    padding-left: 150px;
    min-width: 35%;
    height: 100%;

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.top-par .links a {
    margin-right: 20px;
    width: max-content;

    font-size: var(--text-size-3);
    font-weight: var(900);
    color: #000;

    position: relative;
}
.top-par .links a::after {
    content: "";
    display: block;

    width: 100%;
    height: 3px;
    background: var(--blue-1);

    position: absolute;
    bottom: -30%;

    transform: scale(0);
    transition: 0.3s;
}

.top-par .links a:hover,
.top-par .links a.active {
    color: var(--blue-1);
}
.top-par .links a:hover::after,
.top-par .links a.active::after {
    transform: scale(1);
}

.top-par .sign {
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-par.logged .sign {
    display: none;
}

.top-par .sign a {
    padding: 15px 20px;
    width: 47%;
    height: 80%;
    border: 2px solid #000;
    border-radius: 20px;

    display: grid;
    place-items: center;

    position: relative;
    overflow: hidden;
}

.top-par .sign a span {
    font-size: var(--text-size-2);
    font-weight: 700;
    color: #000;
    text-align: center;

    position: absolute;
    z-index: 5;

    transition: 0.5s;
}

.top-par .sign a::after {
    content: "";
    display: block;

    width: 200%;
    aspect-ratio: 1;
    border-radius: 50%;

    position: absolute;

    transform: scale(0);
    transition: 0.5s;
}
.top-par .sign a:nth-child(1)::after {
    background: var(--green-3);
}
.top-par .sign a:nth-child(2)::after {
    background: var(--blue-3);
}

.top-par .sign a:hover span {
    color: var(--white-1);
}
.top-par .sign a:hover::after {
    transform: scale(1);
}

/* user avatar */
.top-par .user-avatar {
    padding: 3px;

    min-width: 10%;
    height: 180%;
    border: 2px solid #000a;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;
}
.top-par.logged .user-avatar {
    display: flex;
}

.top-par .user-avatar .user-name {
    margin-right: 10px;

    /* width: 20%; */
    height: 100%;

    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top-par .user-avatar .img {
    width: 45px;
    aspect-ratio: 1;
    border: 2px solid #000;
    border-radius: 50%;

    overflow: hidden;
}

.top-par .user-avatar .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*  */

/*  */
.top-par .go-up {
    padding: 2px;

    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff4;

    position: fixed;
    right: 1%;
    bottom: 1%;
    /* transform: translateX(-50%); */

    cursor: pointer;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    transition: 0.3s;

    opacity: 0;
    pointer-events: none;
}
.top-par .go-up:hover {
    width: 100px;
    border-radius: 30px;
    background-color: #0007;
}

.top-par .go-up.show {
    opacity: 1;
    pointer-events: all;
}

.top-par .go-up::before {
    content: "";
    display: block;

    position: absolute;
    inset: 0;

    transition: 0.5s;
    transition-delay: 0s;
}

.top-par .go-up:hover::before {
    transition-delay: 0.3s;
    background: lime;
}

.top-par .go-up .logo {
    font-size: 3rem;

    transition: 0.3s;
}
.top-par .go-up:hover .logo {
    transform: translateX(-300%);
}

.top-par .go-up .content {
    padding: 1px;
    width: 60px;

    transition: 0.3s;

    position: absolute;
    right: 0;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
}
.top-par .go-up:hover .content {
    right: 50%;
    transform: translateX(50%);
}

.top-par .go-up .content span {
    width: 100%;

    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    /* color: #fff; */
}
/*  */
